<main class="mt-20 flex flex-col gap-x-10 md:flex-row h-auto items-center justify-center">
  <img src="https://avatars.githubusercontent.com/u/106359853?v=4" alt="Imagen de Geovas"
    class="size-80 md:size-72 relative pointer-events-none opacity-30 md:opacity-100 -rotate-6 rounded-lg"
    >

  <div class="flex absolute mt-20 md:mt-0 md:relative flex-col gap-y-4 text-center max-w-[350px]">
    <h2 class="-skew-y-3 text-4xl lg:text-5xl text-green-400/90 font-bold">
           Sobre mí
    </h2>

    <p class="text-pretty text-xl">¡Hola! mi nombre es Geovany Rincón, pero mis amigos me dicen <span class="text-green-300/70">Geovas</span>, me llamó la atención el desarrollo web a los 15 años.</p>

    <p class="text-pretty text-xl"> Un éxito que tuve fue <strong>ser eligido</strong>, para colaborar en el desarrollo de una aplicación para<span class="text-blue-400/80"> la escuela donde estaba estudiando</span> por lo que estuve dispuesto a aprender cosas que eran desconocidas <span class="text-purple-300/80"> para mí en ese momento</span>.</p>
  </div>
</main>
