<main class="mt-20 flex flex-col gap-x-10 md:flex-row h-auto items-center justify-center">
  <figure class="flex items-center justify-center group">
    <img
      width="365"
      height="486"
      decoding="async"
      loading="lazy"
      src="/img/Geovas-image-presentation.webp"
      alt="Imagen de Geovany Rincón"
      class="size-96 md:size-80 object-cover relative pointer-events-none opacity-30 md:opacity-100 -rotate-6 rounded-lg md:group-hover:scale-105 transition"
    />

    <img
      width="365"
      height="486"
      decoding="async"
      loading="lazy"
      class="absolute opacity-30 md:opacity-90 transform-gpu blur-lg -z-10 block object-cover size-96 md:size-80 aspect-square transition bg-white -rotate-6 rounded-lg pointer-events-none md:group-hover:scale-105"
      src="/img/Geovas-image-presentation.webp"
      alt="Imagen de Geovany Rincón"
    />
  </figure>

  <div class="flex absolute mt-20 md:mt-0 md:relative flex-col gap-y-4 text-center max-w-[350px]">
    <h2 class="-skew-y-3 text-4xl lg:text-5xl text-green-400/90 font-bold">
           Sobre mí
    </h2>

    <p class="text-pretty text-xl">¡Hola! mi nombre es Geovany Rincón, pero mis amigos me dicen <span class="text-green-300/70 font-bold">Geovas</span>, me llamó la atención el desarrollo web a los 15 años.</p>

    <p class="text-pretty text-xl"> Un éxito que tuve fue <span class="font-bold text-yellow-400/90">ser eligido</span>, para colaborar en el desarrollo de una aplicación para <span class="text-blue-400/90 font-bold">la escuela donde estaba estudiando</span> por lo que estuve dispuesto a aprender cosas que eran desconocidas <span class="text-purple-300/80 font-bold"> para mí en ese momento</span>.</p>
  </div>
</main>
