---
interface Props {
  href: string
  ariaLabel: string
}

const { href, ariaLabel } = Astro.props

const classDefault = 'inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-xl text-white transition border border-primary focus-visible:ring-yellow-500/80 text-md hover:bg-blue-700/90 hover:border-secondary group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black font-medium'
---

<a href={href} aria-label={ariaLabel} class={classDefault} target="_blank" rel="noopener noreferrer" title="Link">
  <slot />
</a>
