---
import ExperienceItem from '@/components/Experience/ExperienceItem.astro'

const experience = [
  {
    date: 'Diciembre 2023',
    title: 'Principal FullStack Developer',
    company: 'CBTis 86',
    description:
      'Desarrollo de aplicaciones web para la gesti칩n de recursos y alumnos. Contribu칤 tanto en el fronted como en el backend durante el desarollo de la aplicaci칩n. Implementaci칩n de metodolog칤as 치giles y buenas pr치cticas de desarrollo.'
  },
  {
    date: 'Marzo 2024',
    title: 'Freelance FullStack Developer',
    company: 'Freelance',
    description: 'Desarrollo de aplicaci칩n web para la gestion de clientes, control del inventario de la empresa LOG-IN.'
  },
  {
    date: 'Actualmente...',
    title: 'En constante aprendizaje',
    company: 'Geovas 游땾',
    description:
      'Trato de aprender algo nuevo cada d칤a y compartirlo en grupos de programaci칩n. Listo para nuevas oportunidades laborales y cualquier tecnolog칤a nueva por aprender.'
  }
]
---

<ul id="Experience">
  <h2 class="text-2xl sm:text-3xl font-bold text-blue-300/90 px-5 flex gap-x-4">
    <i class="fa-solid fa-terminal"></i>
    Experiencia
  </h2>
  {experience.map((experiencie) => (
    <li class="mt-10 md:mt-14">
      <ExperienceItem {...experiencie} />
    </li>
  ))}
