<article class="border shadow-border-custom rounded-2xl col-start-1 col-end-2 sm:col-start-2 sm:col-end-3 sm:row-start-2 sm:row-end-3 row-start-4 row-end-5 h-52 sm:h-auto">

  <div class="size-full flex justify-center items-center relative">
    <img src="/img/bandera-mexico.webp" alt="Bandera de México" class="size-full opacity-20 absolute">

    <p class="text-3xl shadow-text-green font-bold font-ubuntu-mono -skew-y-2"> Mexicano </p>

  </div>
</article>
