---
import '@fontsource-variable/jost'
import '@fortawesome/fontawesome-free/css/all.css'
import Footer from '@/components/Footer.astro'
import SEO from '@/components/SEO.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portafolio de Trabajo FullStack JR - Geovany Rincon." />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <SEO />
    <!-- Based in design of Midudev -> Thanks 💗 -->
  </head>
  <body>

    <div class="fixed left-0 top-0 -z-10 h-full w-full">
      <div class="relative h-full w-full bg-slate-950">
        <div
          class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
        >
        </div><div
          class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
        >
        </div>
      </div>
    </div>

    <div class="max-w-[820px] mt-9 md:mt-4">
      <slot />
      <Footer />
    </div>

  </body>
</html>

<style is:global>
:root {
  color-scheme: dark;
}

html {
  font-family: 'Jost Variable', sans-serif;
  background: #13151a;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.shadow-text-custom {
  text-shadow: 0 0 5px orange, 0 0 15px orange, 0 0 30px orange;
}

.shadow-text-green {
  text-shadow: 0 0 5px green, 0 0 15px green, 0 0 30px green;
}

.shadow-text-blue {
  text-shadow: 0 0 5px blue, 0 0 15px blue, 0 0 30px blue;
}

.shadow-text-red {
  text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red;
}

.shadow-text-purple {
  text-shadow: 0 0 5px purple, 0 0 15px purple, 0 0 30px purple;
}

.shadow-border-custom {
  border: 2px solid white;
  box-shadow: inset 0 0 5px red, 0 0 10px red;
}
</style>
